<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Lista de Tarefas</title>
</head>
<body>
    <div class="container">
        <br>
        <h2>Seja bem-vindo a sua Lista de Tarefas!</h2>
        <p>Clique no botão abaixo para iniciar:</p>
        <button type="button" class="btn btn-primary" onclick="goToTasks()">Ir para lista</button>
    </div>
</body>
<script>
    function goToTasks() {
        window.location.href = "http://127.0.0.1:8000/tarefas/"
    }
</script>
</html>